body{
    font-size: 40px;
    text-align: center;
}
input{
    font-size: 34px;
}
.block{
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    margin-bottom: 0.5rem;
}
input[value="○"] {
    color: red;
}
input[value="×"] {
    color: blue;
}